In [322]:
import pandas as pd

data=pd.read_csv("C:\\Users\\bjgauche\\Work Folders\\Documents\\NonProdDataFiles\\AFFIRMATIVE_CASES_202003091458.csv")
data.tail()
data.isna().sum()
df=data[['ID','CREATED_AT','UPDATED_AT','A_NUMBER','FIRST_NAME','LAST_NAME','DATE_OF_BIRTH','STREET_ADDRESS','CITY','ZIP_CODE','STATE','RECEIPT_NUMBER','ARCHIVED']]

In [323]:
df[0:1]

,ID,CREATED_AT,UPDATED_AT,A_NUMBER,FIRST_NAME,LAST_NAME,DATE_OF_BIRTH,STREET_ADDRESS,CITY,ZIP_CODE,STATE,RECEIPT_NUMBER,ARCHIVED
0,1,2018-03-06 21:27:25,2018-03-06 21:27:25,333444555,adsf,adf,1990-01-01 00:00:00,,,20001,AL,ZAR1800100020,false

In [324]:
df.tail()

,ID,CREATED_AT,UPDATED_AT,A_NUMBER,FIRST_NAME,LAST_NAME,DATE_OF_BIRTH,STREET_ADDRESS,CITY,ZIP_CODE,STATE,RECEIPT_NUMBER,ARCHIVED
199,217,2019-03-26 15:35:08,2019-03-26 15:35:08,444985050,WARREN,HARDING,2003-03-03 00:00:00,123 ASODIFJ,ASDOFIJ,22209,VA,ZAR1900105130,f
200,218,2019-03-26 15:49:27,2019-03-31 03:17:00,334566897,ANDREW,JACKSON,1992-09-24 00:00:00,123 ASDOIJF,ASDFOIJ,22209,VA,ZAR1900105140,f
201,219,2019-03-26 15:50:30,2019-03-31 03:17:00,882244654,JAMES,GARFIELD,1964-07-04 00:00:00,123 ASDOIJ,ASDFOIJ,22209,VA,ZAR1900105150,f
202,220,2019-03-26 15:51:14,2019-03-31 03:17:00,102938475,WOODROW,WILSON,1988-10-04 00:00:00,123 ASDOFIJ,ASDOFIJ,22209,VA,ZAR1900105160,f
203,221,2019-03-26 15:51:56,2019-03-31 03:17:00,886497532,ZACHARY,TAYLOR,1993-10-03 00:00:00,123 ASDOFIJ,ASOIFJ,22209,VA,ZAR1900105170,f

In [325]:
df.shape

(204, 13)

In [326]:
ex=df[0:1]

In [327]:
#ex2=ex.replace([0],[204])

In [328]:
ex2=ex.replace([1],[222])

In [329]:
df=pd.DataFrame.append(df,ex2)
#df=pd.reindex(pd.index(list(range(204))))
df=df.reset_index(drop=True)

In [330]:
df.tail()

,ID,CREATED_AT,UPDATED_AT,A_NUMBER,FIRST_NAME,LAST_NAME,DATE_OF_BIRTH,STREET_ADDRESS,CITY,ZIP_CODE,STATE,RECEIPT_NUMBER,ARCHIVED
200,218,2019-03-26 15:49:27,2019-03-31 03:17:00,334566897,ANDREW,JACKSON,1992-09-24 00:00:00,123 ASDOIJF,ASDFOIJ,22209,VA,ZAR1900105140,f
201,219,2019-03-26 15:50:30,2019-03-31 03:17:00,882244654,JAMES,GARFIELD,1964-07-04 00:00:00,123 ASDOIJ,ASDFOIJ,22209,VA,ZAR1900105150,f
202,220,2019-03-26 15:51:14,2019-03-31 03:17:00,102938475,WOODROW,WILSON,1988-10-04 00:00:00,123 ASDOFIJ,ASDOFIJ,22209,VA,ZAR1900105160,f
203,221,2019-03-26 15:51:56,2019-03-31 03:17:00,886497532,ZACHARY,TAYLOR,1993-10-03 00:00:00,123 ASDOFIJ,ASOIFJ,22209,VA,ZAR1900105170,f
204,222,2018-03-06 21:27:25,2018-03-06 21:27:25,333444555,adsf,adf,1990-01-01 00:00:00,,,20001,AL,ZAR1800100020,false

In [331]:
df.shape

(205, 13)

In [347]:
import recordlinkage

In [348]:
indexer = recordlinkage.Index()
indexer.block('LAST_NAME')
candidate_links = indexer.index(df)

In [349]:
# Comparison step
compare_cl = recordlinkage.Compare()
compare_cl.string('LAST_NAME', 'LAST_NAME', method='jarowinkler', threshold=0.85, label='LAST_NAME')
compare_cl.exact('DATE_OF_BIRTH', 'DATE_OF_BIRTH', label='DATE_OF_BIRTH')
compare_cl.exact('STATE', 'STATE', label='STATE')
compare_cl.exact('ZIP_CODE', 'ZIP_CODE', label='ZIP_CODE')
compare_cl.string('STREET_ADDRESS', 'STREET_ADDRESS', threshold=0.85, label='STREET_ADDRESS')

feature_vectors = compare_cl.compute(candidate_links, df)

In [380]:
ecm = recordlinkage.ECMClassifier()
ecmpred=ecm.fit_predict(feature_vectors)
ecmpred

MultiIndex([(101,   0),
            (117,  60),
            (204,   0),
            (204, 101),
            (147,  45),
            ( 97,  46),
            ( 98,  46),
            ( 98,  97),
            (111,  49),
            ( 86,  74),
            (146,  99),
            (151,  99),
            (151, 146),
            (152, 148)],
           )

In [442]:
ecp=ecm.prob(feature_vectors)
type(ecp)
#ecp.values.round(5)
#ecp.shape
ecp
#feature_vectors

60   0      2.949148e-19
101  0      7.260596e-01
     60     1.451991e-19
117  0      1.451991e-19
     60     7.260596e-01
     101    1.451991e-19
204  0      9.919720e-01
     60     2.949148e-19
     101    7.260596e-01
     117    1.451991e-19
83   1      2.949148e-19
85   2      3.564100e-01
87   12     2.949148e-19
21   14     6.963549e-19
66   24     1.493673e-20
165  24     1.493673e-20
     66     1.493673e-20
118  35     1.493673e-20
147  45     7.260596e-01
97   46     9.919720e-01
98   46     9.919720e-01
     97     9.919720e-01
110  49     1.493673e-20
111  49     8.622250e-01
     110    3.033809e-20
53   51     1.493673e-20
113  51     1.493673e-20
     53     1.493673e-20
86   74     9.838281e-01
82   76     3.033809e-20
90   78     1.451991e-19
146  99     7.260596e-01
151  99     7.260596e-01
     146    9.919720e-01
185  107    2.142389e-01
130  122    1.493673e-20
152  148    8.433413e-01
dtype: float64

In [390]:
ecp.shape

(37,)

In [451]:
ec_prob=pd.DataFrame(ecp.values.round(5))
#ec_prob

In [450]:
ecp.to_frame().assign(prob=ec_prob.values)

                    0     prob
60  0    2.949148e-19  0.00000
101 0    7.260596e-01  0.72606
    60   1.451991e-19  0.00000
117 0    1.451991e-19  0.00000
    60   7.260596e-01  0.72606
    101  1.451991e-19  0.00000
204 0    9.919720e-01  0.99197
    60   2.949148e-19  0.00000
    101  7.260596e-01  0.72606
    117  1.451991e-19  0.00000
83  1    2.949148e-19  0.00000
85  2    3.564100e-01  0.35641
87  12   2.949148e-19  0.00000
21  14   6.963549e-19  0.00000
66  24   1.493673e-20  0.00000
165 24   1.493673e-20  0.00000
    66   1.493673e-20  0.00000
118 35   1.493673e-20  0.00000
147 45   7.260596e-01  0.72606
97  46   9.919720e-01  0.99197
98  46   9.919720e-01  0.99197
    97   9.919720e-01  0.99197
110 49   1.493673e-20  0.00000
111 49   8.622250e-01  0.86222
    110  3.033809e-20  0.00000
53  51   1.493673e-20  0.00000
113 51   1.493673e-20  0.00000
    53   1.493673e-20  0.00000
86  74   9.838281e-01  0.98383
82  76   3.033809e-20  0.00000
90  78   1.451991e-19  0.00000
146 99   7.260596e-01  0.72606
151 99   7.260596e-01  0.72606
    146  9.919720e-01  0.99197
185 107  2.142389e-01  0.21424
130 122  1.493673e-20  0.00000
152 148  8.433413e-01  0.84334

In [386]:
ecmpred.shape

(14,)

In [356]:
ecp.shape

(37,)

In [363]:
round((ecmpred.shape[0]/ecp.shape[0])*100)

38

In [ ]:
ecm.u_probs #proportion of non-links that are a match (1), (0) true negatives

In [459]:
ecm.m_probs #proportion of links that are a match (1), (1) true positives

{'LAST_NAME': {1.0: 1.0},
 'DATE_OF_BIRTH': {0.0: 0.11389730369205624, 1.0: 0.886102696307944},
 'STATE': {0.0: 3.357440019842515e-19, 1.0: 1.0},
 'ZIP_CODE': {0.0: 0.510149714470735, 1.0: 0.4898502855292652},
 'STREET_ADDRESS': {0.0: 0.45872444675531077, 1.0: 0.5412755532446893}}

In [460]:
ecm.p

0.3398226207404929

In [461]:
ecm.weights

{'LAST_NAME': {1.0: 1.0},
 'DATE_OF_BIRTH': {0.0: 0.20505131107022742, 1.0: 1.9932916264120137},
 'STATE': {0.0: 3.905272393945862e-19, 1.0: 7.128590018685535},
 'ZIP_CODE': {0.0: 0.7513237706222697, 1.0: 1.5260188821180585},
 'STREET_ADDRESS': {0.0: 0.4823061992246142, 1.0: 11.070447591139445}}

In [9]:
df.loc[101,:]

ID                                 94
CREATED_AT        2018-05-29 18:26:24
UPDATED_AT        2018-05-29 18:29:41
A_NUMBER                    666555777
FIRST_NAME                       sdfg
LAST_NAME                         adf
DATE_OF_BIRTH     1990-01-01 00:00:00
STREET_ADDRESS                     df
CITY                              dfg
ZIP_CODE                        98112
STATE                              AL
RECEIPT_NUMBER          ZSF1800102900
ARCHIVED                        false
Name: 101, dtype: object

In [10]:
df.loc[0,:]

ID                                  1
CREATED_AT        2018-03-06 21:27:25
UPDATED_AT        2018-03-06 21:27:25
A_NUMBER                    333444555
FIRST_NAME                       adsf
LAST_NAME                         adf
DATE_OF_BIRTH     1990-01-01 00:00:00
STREET_ADDRESS
CITY
ZIP_CODE                        20001
STATE                              AL
RECEIPT_NUMBER          ZAR1800100020
ARCHIVED                        false
Name: 0, dtype: object

In [453]:
df.loc[204,:]

ID                                222
CREATED_AT        2018-03-06 21:27:25
UPDATED_AT        2018-03-06 21:27:25
A_NUMBER                    333444555
FIRST_NAME                       adsf
LAST_NAME                         adf
DATE_OF_BIRTH     1990-01-01 00:00:00
STREET_ADDRESS
CITY
ZIP_CODE                        20001
STATE                              AL
RECEIPT_NUMBER          ZAR1800100020
ARCHIVED                        false
Name: 204, dtype: object

In [454]:
df.loc[101,:]

ID                                 94
CREATED_AT        2018-05-29 18:26:24
UPDATED_AT        2018-05-29 18:29:41
A_NUMBER                    666555777
FIRST_NAME                       sdfg
LAST_NAME                         adf
DATE_OF_BIRTH     1990-01-01 00:00:00
STREET_ADDRESS                     df
CITY                              dfg
ZIP_CODE                        98112
STATE                              AL
RECEIPT_NUMBER          ZSF1800102900
ARCHIVED                        false
Name: 101, dtype: object